/* styles.css */

body {
  margin: 0;
  font-family: 'Cinzel Decorative', regular;
  background: #3f0606; /* Set a background color or image */
}

.container {
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
  padding: 25px;
}

h1 {
  color: gold;
  font-weight: bold;
  font-size: 48px;
}

ul {
  list-style-type: none;
  padding: 3;
  margin: 5;
  font-size: 28px;
  font-weight: bolder;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  text-decoration: none;
  color: blue;
}

ul li a:hover {
  color: goldenrod;
}

p {
  background: linear-gradient(to bottom, var(--gradient-color-1), var(--gradient-color-2));
  color: transparent;
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  padding: 15px; 
  padding-top: 5px; 
  -webkit-background-clip: text;
  background-clip: text;
}

.image {
  flex: 1;
  text-align: center; /* Center the image horizontally */
}

.image img {
  width: auto; /* Set the width to 100% to fill the container */
  height: 100%; /* Maintain the aspect ratio */
  max-width: 100%;
}

:root {
  --gradient-color-1: white;
  --gradient-color-2: gold;
}