.CharacterCard {
  background-color: gray;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-align: left;
  overflow: hidden; /* Ensure that the image doesn't overflow its container */
}

.CharacterCard:hover {
  transform: scale(1.02);
  color: blue;
  text-decoration: underline; 
  text-decoration-color: blue;
}

.CharacterCard a {
  text-decoration: none;
  color: #333;
}

.CharacterCard h1 {
  font-size: 1.5rem;
  margin: 0;
  color: blue;
  text-decoration: underline; 
  text-decoration-color: blue;
}

.CharacterCard h2 {
  font-size: 1.5rem;
  margin: 0;
  color: blue;
  text-decoration: underline; 
  text-decoration-color: blue;
}

.CharacterCard p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.CharacterCard img {
  width: 80px;
  height: 80px;
  float: left; /* Float left to position the image to the left */
  margin-right: 10px; /* Add some right margin for spacing between the image and text */
}

/* Apply a fixed height to the entire card */
 .CharacterCard {
  height: 250px; /* Adjust the value based on design preferences */ 
  width: 600px;
 } 

.CharacterCard-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: stretch; /* Ensure equal height */
  gap: 10px;
}